.Game{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Square{
    width: 100px;
    height: 100px;
    border: 0;

    background-color: white;
    color: #374151;
    font-size: 2rem;
    border: 1px solid gray;
    font-weight: bolder;

    margin: 8px;
}
.Square:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.Board{
    font-family: sans-serif;
    border: 1px solid black;
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.Estado{
    text-align: center;
    margin-bottom: 5px;
}
.Tablero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Row{
    display: flex;
}

.Reset{
    padding: 10px;
    margin-top: 10px;
    border: 0;
    background-color: rgb(167, 38, 38);
    color: white;
}