.Square{
    width: 100px;
    height: 100px;
    border: 0;

    background-color: white;
    color: #374151;
    font-size: 2rem;
    border: 1px solid gray;
    font-weight: bolder;
}
.Square:hover{
    cursor: pointer;
}
.Row{
    display: flex;
}
.Board{
    font-family: sans-serif;
}